# Django Settings
SECRET_KEY=7ix9r0%.f0A*I$+WQ8wAY%R"9.lJ(g({l(/`:NT"[kT}L88ymX
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# Database Settings - PostgreSQL
DB_ENGINE=django.db.backends.postgresql
DB_NAME=db_sigla
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=localhost
DB_PORT=5432

# External Services (opcional)
CANDIDATOS_API_URL=
ESCOLHAS_API_URL=

